.form-section {
      min-height: 80vh;
      @include flex(center, center, row);
      margin-top: 3rem;


      form {
            padding: 3rem 10rem;
            box-shadow: 0px 10px 10px rgba($color: #000000, $alpha: .2),
                  0px 20px 40px rgba($color: #000000, $alpha: 0.2);
            @include flex(center, center, column);
            border-radius: 2rem;
            background-color: rgba(255, 255, 255, 0.3);
            max-height: 50vh;
      }

      input,
      textarea {
            margin: 2rem;
            outline: none;
            border: none;
            background: rgb(238, 238, 238);
            box-shadow: 0px 5px 5px rgba($color: #000000, $alpha: .2),
                  0px 10px 20px rgba($color: #000000, $alpha: 0.2);
      }

      textarea {
            font-family: "Montserrat", sans-serif;
            font-size: 2rem;
      }

      button {
            background-color: #5d5e5e;
            outline: none;
            color: white;
            padding: 1rem 5rem;
            border-radius: 1rem;
            border: none;
            transition: .5s;

            &:hover {
                  background-color: rgba(93, 94, 94, .7);
            }
      }
}