nav {
      @include flex(space-between, center, row);
      min-height: 10vh;
      width: 100%;
      flex-wrap: wrap;

      .logo {
            @include flex(center, center, column);
            flex: 1 1 25rem;
            margin: 2rem 0.2rem;

      }

      .brand {
            cursor: grab;
            z-index: 1000;
      }

      h1 {

            font-size: 5rem;
            color: #5d5e5e;
            padding: 1rem;
            font-family: 'Turret Road'

      }

      ul {
            @include flex(space-around, center, row);
            flex: 1 1 40rem;
            margin: 1rem 0;
      }


      a {
            background-color: transparent;
            color: black;
            // padding: 1rem 3rem;
            border-radius: 2rem;
            transition: .5s;
            outline: none;


            &:hover {
                  border: none;
                  background-color: transparent;
                  box-shadow: 0px 5px 5px rgba($color: #000000, $alpha: .2),
                        0px 10px 20px rgba($color: #000000, $alpha: 0.2);

            }



      }

}

.active {
      background-color: transparent;

      color: black;
      padding: 1rem 3rem;
      border-radius: 2rem;
      box-shadow: 0px 5px 5px rgba($color: #000000, $alpha: .2),
            0px 10px 20px rgba($color: #000000, $alpha: 0.2);

      ;

}

.intro {
      height: 50vh;
      width: 90%;
      margin: 0 auto;
      flex-wrap: wrap;


      @include flex(space-between, center, row);

      h2 {
            font-size: 8rem;
            // padding-top: 2rem;

            background: $gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline-block;
            color: $gray-text;
            // font-family: monospace;
            ;

      }

      h3 {
            font-size: 6rem;
            padding: 2rem 0;
      }

      p {
            padding-top: 2rem;
            color: $gray-text;
      }


}

.splash {
      position: absolute;
      top: 0%;
      right: 0%;
      height: 100%;
      z-index: -1;
}

.intro-social {

      margin-top: 4rem;
      width: 100%;




      img {
            margin-right: 2rem;
            width: 10rem;
      }


}


.intro-text,
.intro-images {
      flex: 1 1 40rem;
      text-align: center;

}

/* TYPE TEXT */

.type__text {
      animation: type 2s steps(15),
            blink .6s infinite alternate;

      overflow: hidden;
      white-space: nowrap;
      width: 14ch;
      border-right: 4px solid rgb(94, 94, 94);
}


@keyframes type {
      from {
            width: 0;
      }

}

@keyframes blink {
      50% {
            border-color: transparent;
      }
}

@keyframes type-back {
      from {
            width: 14ch;
      }

      to {
            width: 0;
      }

}